In [3]:
import pandas as pd

In [1]:
import pyarrow.parquet as pq

# Path to your Parquet file
parquet_file = 'streams1.parquet'

# Read the Parquet file
table = pq.read_table(parquet_file)

# Get the schema of the Parquet file
schema = table.schema
print("Schema of the Parquet file:")
print(schema)

Schema of the Parquet file:
user_id: int64
track_id: string
listen_time: string
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 612

In [5]:
pq = pd.read_parquet('streams1.parquet')
pq.head()

   user_id                track_id          listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez  2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53  2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS  2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W  2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF  2024-06-25 17:33:21

In [6]:
csv = pd.read_csv('streams1.csv')
csv.head()

   user_id                track_id          listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez  2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53  2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS  2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W  2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF  2024-06-25 17:33:21